body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#style-4::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #3a3838;
}

#style-4::-webkit-scrollbar {
	width: 5px;
	background-color: #444242;
}

#style-4::-webkit-scrollbar-thumb {
	background-color: #111827;
	border: 1px solid #555555;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(101, 233, 75);
	opacity: 1; /* Firefox */
  }